# Banco Oracle do Docker Compose
ORACLE_PASSWORD=FiapDevOps2026
ORACLE_APP_USER=cuidabot
ORACLE_APP_PASSWORD=CuidaBot2026

# Segurança HTTP Basic da API
APP_USER=admin
APP_PASSWORD=Admin2026

# Portas dos ambientes
STAGING_PORT=8081
PRODUCTION_PORT=8080
